# Creating a DataFrame

In [2]:
# Import our dependencies
import pandas as pd

#  Import and read the data 
NYPD_complaints_df = pd.read_csv("Resources/NYPD_Complaint_Data.csv")
NYPD_complaints_df.head()

,CMPLNT_NUM,ADDR_PCT_CD,BORO_NM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,CRM_ATPT_CPTD_CD,HADEVELOPT,HOUSING_PSA,...,TRANSIT_DISTRICT,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon,New Georeferenced Column
0,854455675,48,NaN,09/29/2021,12:50:00,NaN,NaN,COMPLETED,NaN,NaN,...,NaN,<18,BLACK HISPANIC,M,1016838,250252,40.853507,-73.882203,"(40.85350696200004, -73.88220309599996)",POINT (-73.88220309599996 40.85350696200004)
1,474078722,79,NaN,09/16/2021,05:15:00,NaN,NaN,COMPLETED,NaN,NaN,...,NaN,25-44,BLACK,M,1001523,192971,40.696329,-73.937711,"(40.696328949000076, -73.93771061299998)",POINT (-73.93771061299998 40.696328949000076)
2,843162354,25,NaN,09/15/2021,01:13:00,NaN,NaN,COMPLETED,NaN,NaN,...,NaN,25-44,BLACK,M,1001508,232696,40.805364,-73.937663,"(40.80536404400005, -73.93766276299993)",POINT (-73.93766276299993 40.80536404400005)
3,275119984,47,NaN,09/07/2021,19:35:00,NaN,NaN,COMPLETED,NaN,NaN,...,NaN,25-44,BLACK,M,1023942,264415,40.892351,-73.856440,"(40.89235092600006, -73.85643985999997)",POINT (-73.85643985999997 40.89235092600006)
4,446379952,47,NaN,09/03/2021,20:35:00,NaN,NaN,COMPLETED,NaN,NaN,...,NaN,25-44,BLACK,M,1027062,262581,40.887303,-73.845167,"(40.88730259600004, -73.84516691)",POINT (-73.84516691 40.88730259600004)

In [3]:
# Get the datatypes and Null Values for each column
NYPD_complaints_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 323817 entries, 0 to 323816
Data columns (total 36 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   CMPLNT_NUM                323817 non-null  int64
 1   ADDR_PCT_CD               323817 non-null  int64
 2   BORO_NM                   323046 non-null  object
 3   CMPLNT_FR_DT              323817 non-null  object
 4   CMPLNT_FR_TM              323817 non-null  object
 5   CMPLNT_TO_DT              294620 non-null  object
 6   CMPLNT_TO_TM              294733 non-null  object
 7   CRM_ATPT_CPTD_CD          323656 non-null  object
 8   HADEVELOPT                1177 non-null    object
 9   HOUSING_PSA               24237 non-null   object
 10  JURISDICTION_CODE         323460 non-null  float64
 11  JURIS_DESC                323817 non-null  object
 12  KY_CD                     323817 non-null  int64
 13  LAW_CAT_CD                323817 non-null  object
 14  LOC_OF_OCCUR_DESC         269563 non-null  object
 15  OFNS_DESC                 323810 non-null  object
 16  PARKS_NM                  2409 non-null    object
 17  PATROL_BORO               323460 non-null  object
 18  PD_CD                     323460 non-null  float64
 19  PD_DESC                   323460 non-null  object
 20  PREM_TYP_DESC             322958 non-null  object
 21  RPT_DT                    323817 non-null  object
 22  STATION_NAME              6325 non-null    object
 23  SUSP_AGE_GROUP            261065 non-null  object
 24  SUSP_RACE                 261065 non-null  object
 25  SUSP_SEX                  261065 non-null  object
 26  TRANSIT_DISTRICT          6325 non-null    float64
 27  VIC_AGE_GROUP             323817 non-null  object
 28  VIC_RACE                  323762 non-null  object
 29  VIC_SEX                   323817 non-null  object
 30  X_COORD_CD                323817 non-null  int64
 31  Y_COORD_CD                323817 non-null  int64
 32  Latitude                  323817 non-null  float64
 33  Longitude                 323817 non-null  float64
 34  Lat_Lon                   323817 non-null  object
 35  New Georeferenced Column  323817 non-null  object
dtypes: float64(5), int64(5), object(26)
memory usage: 88.9+ MB

In [4]:
NYPD_complaints_df.describe()

,CMPLNT_NUM,ADDR_PCT_CD,JURISDICTION_CODE,KY_CD,PD_CD,TRANSIT_DISTRICT,X_COORD_CD,Y_COORD_CD,Latitude,Longitude
count,3.238170e+05,323817.000000,323460.000000,323817.000000,323460.000000,6325.000000,3.238170e+05,323817.000000,323817.000000,323817.000000
mean,5.506657e+08,63.740548,0.471768,306.535515,400.922504,13.237628,1.005431e+06,207693.746465,40.736705,-73.923545
std,2.596358e+08,34.909937,5.126253,160.636455,217.947338,12.240797,2.138290e+04,30198.183851,0.082891,0.077115
min,1.000004e+08,1.000000,0.000000,101.000000,100.000000,1.000000,9.136820e+05,121312.000000,40.499401,-74.253767
25%,3.261123e+08,40.000000,0.000000,117.000000,254.000000,2.000000,9.922970e+05,185103.000000,40.674682,-73.970987
50%,5.511581e+08,63.000000,0.000000,341.000000,352.000000,11.000000,1.004560e+06,206925.000000,40.734574,-73.926714
75%,7.754592e+08,101.000000,0.000000,351.000000,638.000000,23.000000,1.017326e+06,235133.000000,40.812015,-73.880573
max,9.999958e+08,123.000000,97.000000,678.000000,922.000000,34.000000,1.067185e+06,271820.000000,40.912723,-73.700720